/*Base*/

h1 {
    text-decoration: underline;
    font-weight:bold;
}

body,html {
    font-family: Arial, sans-serif;
    background-color: #272822;
    color: #F8F8F2;
    text-align: center;
}

h1, h1 a {
    text-decoration: underline;
    font-weight: bold;
    color: #F92672;
}

h2, h2 a {
    color: limegreen;
}

h3, h3 a {
    color: deepskyblue;
}

h4 {
    color: gold;
}

h5 {
    color: mediumpurple;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 1s;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    color: #F8F8F2;
    margin: 5px;
}

p {
    color: #F8F8F2;
}

a:hover {
    color: gold;
    text-decoration: underline;
    transition: 1s;
}

a:active {
    color: green;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-item {
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}

a.is-current {
    background-color: yellow;
    color: black;
    padding: 5px;
    font-size: larger;
}

/*Layout*/

.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

.page-layout {
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 10px;
}

.flexd {
    display: flex;
    gap: 5px;
    flex-direction: row;
    line-height: 20px;
    justify-content: space-around;
}

header {
    grid-column: 1/3;
    text-align: center;
}

nav, footer {
    grid-column: 1/3;
    justify-content: space-between;
    text-align: center;
}

/*Modules*/

@media(max-width: 950px){
    .page-layout {
        display: block;
    }
}